<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".SandboxHubActivity"
            android:exported="false"
            android:label="@string/sandbox_hub_title"
            android:theme="@style/Theme.Sandbox" />
        <activity
            android:name=".BackgroundLibraryTestActivity"
            android:exported="false"
            android:label="@string/background_library_test_title"
            android:theme="@style/Theme.Sandbox" />
        <activity
            android:name=".ModuleAdapterTestActivity"
            android:exported="false"
            android:label="@string/module_adapter_test_title"
            android:theme="@style/Theme.Sandbox" />
        <activity
            android:name=".SandboxPageStateActivity"
            android:exported="false"
            android:label="@string/sandbox_page_state_title"
            android:theme="@style/Theme.Sandbox" />
        <activity
            android:name=".SandboxStorageAdaptActivity"
            android:exported="false"
            android:label="@string/sandbox_storage_adapt_title"
            android:theme="@style/Theme.Sandbox" />
        <activity
            android:name=".SandboxViewModelTestActivity"
            android:exported="false"
            android:label="@string/sandbox_vm_test_title"
            android:theme="@style/Theme.Sandbox" />
        <activity
            android:name=".SandboxNetworkChainActivity"
            android:exported="false"
            android:label="@string/sandbox_network_chain_title"
            android:theme="@style/Theme.Sandbox" />
        <activity
            android:name=".SandboxPagedRefreshActivity"
            android:exported="false"
            android:label="@string/sandbox_paged_refresh_title"
            android:theme="@style/Theme.Sandbox" />
    </application>
</manifest>
